/*
Global styles
***************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}
a:hover {
	text-transform: uppercase;
	cursor: pointer;
	background-color: #ababab;
	color: #212121;
}

/*
 Root document styles
*********************/
html {
	font-size: 16px;
	font-family: verdana, helvetica, sans-serif;
	line-height: 1.8;
}

header {
	width: 100%;
	background-color: #ccc;
	display: flex;
	flex-direction: column;
}
header h1 {
	color: #333;
	padding: 12px;
}

header nav {
	background-color: #676767;
	width: 100%;
	display: flex;
	align-items: center;
}
header nav a {
	color: #efefef;
	padding: 12px;
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	background-color: #ddd;
}
section div {
	margin: 10px;
	padding: 12px;
	background-color: #fff;
}

#quiz-section {
	display: none;
}

footer {
	width: 100%;
	background-color: #ccc;
}
footer div {
	padding: 12px;
}